basePath: /
definitions:
  main.Item:
    properties:
      name:
        type: string
      value:
        type: string
    type: object
host: api.bob-productions.dev
info:
  contact: {}
  description: This is a sample server.
  title: My API
  version: "1.0"
paths:
  /items:
    post:
      consumes:
      - application/json
      description: Create a new item
      produces:
      - application/json
      responses:
        "201":
          description: Created
          schema:
            $ref: '#/definitions/main.Item'
      summary: Create an item
      tags:
      - items
  /items/{id}:
    get:
      description: Get a single item from the database by ID
      parameters:
      - description: Item ID
        in: path
        name: id
        required: true
        type: integer
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/main.Item'
      summary: Get an item by ID
      tags:
      - items
    put:
      consumes:
      - application/json
      description: Update an existing item
      parameters:
      - description: Item ID
        in: path
        name: id
        required: true
        type: integer
      - description: Item to update
        in: body
        name: item
        required: true
        schema:
          $ref: '#/definitions/main.Item'
      responses:
        "204":
          description: No Content
      summary: Update an item
      tags:
      - items
swagger: "2.0"
